<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img height="24" src="assets/logo_trion.png" alt="trion.de" style="filter: saturate(0) brightness(5)">
  <span>COVID-19 / Pandemic Simulation</span>
  <div class="spacer"></div>
  <button class="top-menu-item" (click)="showFaq()">FAQ</button>
  <div class="faq-popover"
       [style.visibility]="faqVisible? 'visible':'hidden'"
       [style.opacity]="faqVisible? '1':'0'"
       [style.height]="faqVisible? 'auto':'0'">
    <strong>Is this a realistic scientific model of COVID-19 / SARS-CoV-2 ?</strong>
    <br>
    <br>
    This is a very much simplified model of the real world for educational purposes. It should not be used to form any
    kind of decisive action like financial investments. It can show how social distancing or closing borders have an
    impact on desease spreading and help you make decisions how to protect others and stay safe.
    <br>
    <br>
    <strong>Is this simulation specific for Corona virus?</strong>
    <br>
    <br>
    No, it is a simplified model, adjusting the parameters any kind of desease spread can be simulated.
    <br>
    <br>
    <strong>Why are there two parallel simulations?</strong>
    <br>
    <br>
    This simulation provides an opportunity you never have in the real world: See the exact same scenario play out under
    different conditions. Since simulations depend on randomness - like the real world - there is always a way to argue,
    that something played out differently just because of "(bad) luck". This application uses a deterministic random
    source that allows to compare two outcomes with the same "luck".
    <br><br>
    <strong>Can I use this on my homepage?</strong>
    <br>
    <br>
    Absolutely - the source code is available on GitHub
    (<a href="https://github.com/trion-development/corona-covid19-simulator">Link</a>) and you can embed the simulation
    as a webcomponent:
    <pre>
    <code>
      &lt;cosim-simulator>&lt;/cosim-simulator>
      &lt;script src="https://trion-development.github.io/corona-covid19-simulator/element.js">&lt;/script>
    </code>
    </pre>
    <strong>Why did you develop it with Angular?</strong>
    <br>
    <br>
    This small application serves not only to provide a simulation to play around with, but also to showcase some
    aspects around Angular. (It was developed by trion development, a German consulting and training company. The code
    for the simulation is based on the MIT licensed repository by MTrajK
    (<a href="https://github.com/MTrajK/virus-spreading">see on Github</a>) )
  </div>

  <a aria-label="trion" href="https://www.trion.de/" target="_blank" rel="noopener" title="trion">
  </a>
  <a aria-label="trion on twitter"
     target="_blank"
     rel="noopener"
     href="https://twitter.com/triondevelop"
     title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none"/>
      <path
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
        fill="#fff"/>
    </svg>
  </a>
</div>

<div class="content" role="main">

  <cosi-simulator></cosi-simulator>

  <svg id="clouds"
       alt="Gray Clouds Background"
       xmlns="http://www.w3.org/2000/svg"
       width="2611.084"
       height="485.677"
       viewBox="0 0 2611.084 485.677">
    <path id="Path_39"
          data-name="Path 39"
          d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
          transform="translate(142.69 -634.312)"
          fill="#eee"/>
  </svg>

</div>
